@model List<ResultAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Yazarlar</h4>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>İsim</th>
                            <th>Yaş</th>
                            <th>Açıklama</th>
                            <th>Mail</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Age</td>
                                <td>@item.Description</td>
                                <td>@item.Email</td>
                                <td><a href="/Author/UpdateAuthor/@item.Id" class="btn btn-outline-success">Güncelle</a></td>
                                <td>
                                    <a href="javascript:void(0);" class="btn btn-outline-danger" onclick="openDeleteConfirmation(@item.Id)">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <a href="/Author/CreateAuthor" class="btn btn-outline-info">Yeni Yazar Girişi</a>
</div> 


<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Bu işlem ile birlikte yazara ait kitaplarda silinecektir.</p>
            </div>
            <div class="modal-footer">
                <form id="deleteForm" action="/Author/DeleteAuthor" method="post">
                    <input type="hidden" name="id" id="authorIdToDelete" value="" />
                    <button type="submit" class="btn btn-primary">Sil</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">İptal</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function openDeleteConfirmation(id) {
        $('#authorIdToDelete').val(id);
        $('#deleteConfirmationModal').modal('show');
    }
</script>










